.main-container{
    margin-top: -80px;
    margin-left: 22px;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.display-name {
    font-weight: 700;
    font-size: x-large;
}

.username {
    font-size: medium;
    color: rgb(136, 124, 124);
}

.bio-container {
    margin-top: 16px;
}

.list {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.list li {
    margin-right: 20px;
    margin-bottom: 0;
    color: #8f9ba3;
}

.list li img {
    margin-right: 6px;
}

.list li a {
    text-decoration: none;
    color: #ad5dfd;
}

.list li a:hover {
    text-decoration: underline;
}

.follow-count {
    font-weight: 500;
    color: rgb(34, 34, 34);
    margin-right: 4px;
}

.post-filter {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 44px;
}

.post-filter li {
    margin-bottom: 0;
    font-weight: 500;
    
}
