.container{
  height: 100vh;
  width: 100vw;
}

.light {
  background-color: #fff;
  color: rgb(34, 34, 34);
}

.dark {
  background-color: rgb(34, 34, 34);
  color: #fff;
}

.login {
  background: linear-gradient(to right, #b56aff, #56bceb);
}

